%nav.teal.darken-3
  .nav-wrapper
    = link_to root_path, class: "brand-logo ml-2" do
      E-Dukani
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = link_to destroy_user_session_path, class: "btn waves-effect waves-light red darken-1", method: :delete  do
            %i.material-icons.right logout
            Log out     
      - else
        %li
          = link_to new_user_session_path, class: "btn waves-effect waves-light green darken-1"  do
            %i.material-icons.right login
            Log in  
        %li
          = link_to new_user_registration_path, class: "btn waves-effect waves-light blue darken-1"  do
            %i.material-icons.right person_add
            Sign up